@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.font-dancing-script {
  font-family: var(--font-dancing-script);
}

.font-dosis {
  font-family: var(--font-dosis);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
